@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  zoom: 110%;
}

.clouds-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Use viewport height to ensure full screen coverage */
  z-index: -20;
  overflow: hidden;
}

/* Clouds.css */
.clouds-container .cloud {
  position: relative;
  width: 100%;
  height: 190px; /* Adjust based on your needs */
  background-repeat: repeat-x;
  background-size: contain;
  z-index: -20;
  overflow: hidden;
}

.cloud1 {
  animation: moveCloud 110s linear infinite;
}

.cloud2 {
  animation: moveCloud 150s linear infinite;
}

.cloud3 {
  animation: moveCloud 190s linear infinite;
}

.cloud4 {
  animation: moveCloud 130s linear infinite;
}

@keyframes moveCloud {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #87bddf;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: white;
  max-width: 650px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  transition: 0.2s;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.9);
}
.btn-block {
  display: block;
  width: 100%;
}
.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: default;
}

.task:hover {
  background: #e7f5fe;
}

.task.reminder {
  border-left: 5px solid #5fe896;
}
.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-form {
  margin-bottom: 40px;
}
.form-control {
  margin: 20px 0;
}
.form-control label {
  display: block;
}
.form-control input {
  border: 1px solid #5f5f5f;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  transition: 0.2s;
  outline-color: #60b6eb;
}
.form-control input:focus {
  font-size: 16px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-control-check label {
  flex: 1;
}
.form-control-check input {
  flex: 2;
  height: 20px;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.about-version {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: #5f5f5f;
}

.to-about {
  text-decoration: none;
  transition: 0.05s;
  color: #000;
}

.to-about:hover {
  color: #5f5f5f;
}

.to-about:active {
  color: #5f5f5f;
}

.about-version-back {
  text-align: center;
  text-decoration: none;
  color: #5f5f5f;
  transition: 0.05s;
}

.about-version-back:hover {
  color: #000000;
}

.about-version-back:active {
  color: #000000;
}

.under-clouds {
  position: relative;
  z-index: -21;
}

@media screen and (max-width: 600px) {
  * {
    zoom: normal;
  }

  .container {
    margin: 15px;
    margin-top: 100px;
    padding: 30px;
  }
  .btn {
    font-size: 16px;
  }
  .task h3 {
    font-size: 15px;
  }
  .about-version {
    font-size: 14px;
  }
}
